* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.tabs {
  list-style: none;
  display: flex;
  width: 100%;
  padding: 10px;
  gap: 50px;
  justify-content: center;
}
.tabs li {
  cursor: pointer;
}

.invisible {
  display: none;
}

.card {
  padding: 2rem;
  width: 800px;
  margin: auto;
  border: solid;
  margin-bottom: 5px;
}